@using CrudRepos.Application.Services.Users.Query;
@model ResultGetUsersDto;

@{
    ViewData["Title"] = "لیست کاربران";
}

<h1>لیست کاربران</h1>

<p>
    <a asp-action="Create">افزودن کاربر جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                نام 
            </th>
            <th>
                نام خانوادگی
            </th>
            <th>
                سن
            </th>
            <th>
                کد ملی
            </th>
            <th>
                ایمیل
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.Age
            </td>
            <td>
                @item.NationalCode
            </td>
            <td>
                @item.Email
            </td>
            <td>
                <td>
                    <form method="get" action="@Url.Action("Edit", "User")">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit">ویرایش</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="@Url.Action("Delete", "User")">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit">حذف</button>
                    </form>
                </td>
            </td>
        </tr>
}
    </tbody>
</table>
